
<header id="header">
  <nav class="desktop-nav">
    
        {% for item in site.data.settings.left-menu %}
        <a href="{{ item.url }}">{{ item.name }}</a> 
        {% endfor %}
     
      <a href="#" alt="southCanStrengthLogo" id="logoLink">{% include icons/logo.svg%}</a>

          {% for item in site.data.settings.right-menu %}
          <a href="{{ item.url }}">{{ item.name }}</a> 
          {% endfor %}
  
       
  </nav>
  <div class="mobile-nav">
      
      <div class="logo__container">
      <a href="#" alt="southCanStrengthLogo" id="logoLink">{% include icons/logo.svg%}</a>
     </div>
   
      <input type="checkbox"  id="nav-check">
    
      <div class="nav-links">
          {% for item in site.data.settings.left-menu %}
          <a href="{{ item.url }}">{{ item.name }}</a> 
          {% endfor %}
          {% for item in site.data.settings.right-menu %}
          <a href="{{ item.url }}">{{ item.name }}</a> 
          {% endfor %}
      </div>
      <div class="nav-btn">
          <label for="nav-check" class="nav-check__label" id="nav-check__label" onclick="showExitButton()">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      
    </div>
<h1><span>{{ site.data.settings.title }}</span></h1>
<p class="kicker">{{ site.data.settings.description }}</p>

</header>
