form
    width: 50%
    margin: 0px auto

.contact 
    h3
        font-size: 4.25em
        color: red 
        margin: 0px auto
div label  
    display: grid
    font-size: 1.5em
form label 
    display: grid
    font-size: 1.5em
.submit-wrap
    margin-top: 5%
    text-align: center
    input
        font-size: 32px
        background-color: red
        color: black
    input:hover
        background-color: white 

@media screen and (max-width: 900px)
    // 900px media queries for contact section
    .contact 
        h3
            font-size: 4.25em
            color: red 
            margin: 0px auto
            padding: 0.5em 0em 0.5em 0em
    .submit-wrap
        margin: 1.5em auto 
        text-align: center
        input
            font-size: 2.1em
            background-color: red
            color: black
        input:hover
            background-color: white 
    div label  
        display: grid
        font-size: 1.3em
    form label 
        display: grid
        font-size: 1.3em

@media screen and (max-width: 640px)
    // 600px media queries for contact section
    .contact 
        h3
            font-size: 4em
            color: red 
            margin: 0px auto
            padding: 0.5em 0em 0.5em 0em
    .submit-wrap
        margin: 1.5em auto 
        text-align: center
        input
            font-size: 2em
            background-color: red
            color: black
        input:hover
            background-color: white 
    div label  
        display: grid
        font-size: 1.2em
    form label 
        display: grid
        font-size: 1.2em