form
    width: 50%
    margin: 0px auto

.contact 
    h3
        font-size: 4.25em
        color: red 
        margin: 0px auto
label  
    display: grid
.submit-wrap
    margin-top: 5%
    text-align: center
    input
        font-size: 32px
        background-color: red
        color: black
    input:hover
        background-color: white 



@media screen and (max-width: 600px)
    // 600px media queries for contact section
    .contact 
        h3
            font-size: 4.25em
            color: red 
            margin: 0px auto
            padding: 0.5em 0em 0.5em 0em
    .submit-wrap
        margin: 1.5em auto 
        text-align: center
        input
            font-size: 32px
            background-color: red
            color: black
        input:hover
            background-color: white 