footer  
    background: $bgcolor
    text-align: center
    
.social-icons svg
    position: relative
    bottom: 60px
    width: 3rem
    padding-bottom: 20px
   

footer div h3
    font-size: 2rem
    color: red
    padding-bottom: 80px
    padding-top: 0px
@media screen and (max-width: 600px)
    .content-wrap > nav 
        display: grid
        grid-template-columns: 25% 25% 25% 25%