footer  
    background: $bgcolor
    text-align: center
    
.social-icons svg
    position: relative
    bottom: 60px
    width: 3em
    padding-bottom: 20px
   

footer div h3
    font-size: 2rem
    color: red
    padding-bottom: 80px
    padding-top: 0px

.content-wrap > nav 
    display: grid
    grid-template-columns: 25% 25% 25% 25%  
    margin: 0px 10%
footer div h3
    font-size: 4.25em
    color: red
    padding-bottom: 80px
    padding-top: 0px

@media screen and (max-width: 1200px)
    // 1200px media queries for footer section
    footer div h3
        font-size: 4.25em
@media screen and (max-width: 900px)
    // 900px media queries for footer section
    footer div h3
        font-size: 4.25em
@media screen and (max-width: 640px)
    // 640px media queries for footer section
    footer div h3
        font-size: 4em
@media screen and (max-width: 450px)
    // 450px media queries for footer section
    footer div h3 
        font-size: 2em
