
#logoLink
    padding: 0px 0px 0px 0px

    min-height: 5em
    border-bottom-left-radius: 70%
    border-bottom-right-radius: 70%
    svg
        width: 55%
nav.desktop-nav 
    color: white
    display: grid
    grid-template-columns: 22% 22% 1fr 22% 22%
    max-width: 100vw
    a 
        text-align: center
        flex: 1
        font-size: 1.1rem
        margin-left: 0px
        max-height: 2em
        font-weight: 600
        background: white
        padding: 10px 0px 0px 0px
        //top right bottom left 
        height: 100%


.mobile-nav
    display: none



.mobile-nav > #nav-check 
    display: none

.vr 
    width: 1px
    background-color: #000

    top: 0
    bottom: 0
    left: 150px


header
    height: 95vh
    text-align: center
    background-image: url(../img/tmpBackground.svg)
    background-size: cover
    h1 
        padding-top: 12rem
        font:
            size: 72px
            weight: 700
        color: white 
        text-transform: uppercase
    .kicker 
        font: 
            size: 50px
            weight: 600
        color: white 
        text-transform: uppercase
@media screen and (min-width: 1800px)
    #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 60%
    nav.desktop-nav 
        color: white
        display: grid
        grid-template-columns: 21% 21% 1fr 21% 21%
        max-width: 100vw
        a 
            text-align: center
            flex: 1
            font-size: 1.1rem
            margin-left: 0px
            max-height: 2em
            
            background: white
            padding: 10px 0px 0px 0px
            //top right bottom left 
            height: 100%
@media screen and (max-width: 1200px)
    #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 45%
    nav.desktop-nav 
        color: white
        display: grid
        grid-template-columns: 21% 21% 1fr 21% 21%
        max-width: 100vw
        a 
            text-align: center
            flex: 1
            font-size: 1.1rem
            margin-left: 0px
            max-height: 2em
            
            background: white
            padding: 10px 0px 0px 0px
            //top right bottom left 
            height: 100%
@media screen and (max-width: 1050px)  
    #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 55%
  
@media screen and (max-width: 900px)
    // 900px media queries for header section
    #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 50%
    nav.desktop-nav 
        color: white
        display: grid
        grid-template-columns: 21% 21% 1fr 21% 21%
        max-width: 100vw
        a 
            text-align: center
            flex: 1
            font-size: 1.1rem
            margin-left: 0px
            max-height: 2em
            
            background: white
            padding: 10px 0px 0px 0px
            //top right bottom left 
            height: 100%
  
    #header 
        background-image: url(../img/tmpBackground-medium.svg)
        background-size: cover
        max-width: 100vw
        h1
            color: white
            padding-top: 4em
            font-size: 4em 
        p 
            color: white
            font-size: 2em
    nav.desktop-nav 
        color: white
        display: grid
        grid-template-columns: 20% 20% 1fr 20% 20%
        max-width: 100vw
        a 
            text-align: center
            flex: 1
            font-size: 1.1rem
            margin-left: 0px
            max-height: 2em
            
            background: white
            padding: 10px 0px 0px 0px
            //top right bottom left 
            height: 100%

@media screen and (max-width: 750px)
    #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 65%
    nav.desktop-nav 
        color: white
        display: grid
        grid-template-columns: 21% 21% 1fr 21% 21%
        max-width: 100vw
        a 
            text-align: center
            flex: 1
            font-size: 1.1rem
            margin-left: 0px
            max-height: 2em
            
            background: white
            padding: 10px 0px 0px 0px
            //top right bottom left 
            height: 100%
        

@media screen and (max-width: 640px)
    // 600px media queries for general stuff
    body
        display: flex
        flex-direction: column
        overflow-x: hidden
        

    .services > .services__cards
        display: grid
        grid-template-columns: 100%
    nav.desktop-nav 
        display: none

    // 600px media queries for navbar section
      #logoLink
        padding: 0px 0px 0px 0px

        min-height: 5em
        border-bottom-left-radius: 70%
        border-bottom-right-radius: 70%
        svg
            width: 65%

    .mobile-nav 
        display: grid
        position: absolute 
        width: 100%
        right: 0px
        top: 0px 
        grid-template-columns: 1fr
        background: white
    .logo__container 
        width: 30%        
    .nav-btn 
        display: inline-block 
        position: absolute
        left: 85%
        top: 30%
    .nav-btn > label > span 
        display: block 
        width: 40px
        height: 10px 
        border: 1px solid #ef2019
        background-color: #000000
        height: 4px

    .mobile-nav > .nav-links > a
        display: block
        width: 100%
    .mobile-nav > #nav-check:not(:checked) ~ .nav-links
        height: 0px
    .mobile-nav > #nav-check:checked ~ .nav-links
        overflow-y: auto
    .nav-links  
        position: absolute 
        top: 100%
        display: block 
        width: 100%
        background-color: #ffffff
        height: 0px 
        transition: all 0.3s ease-in 
        overflow-y: hidden 
        left: 0px
        a 
            margin: 3em 0px
            text-transform: uppercase 
            font-size: 2em
            font-weight: 5em
    .nav-check__label span:nth-child(1) 
        -webkit-animation: outT 0.8s backwards
        animation: outT 0.8s backwards
        -webkit-animation-direction: reverse
        animation-direction: reverse
    .nav-check__label span:nth-child(2) 
        margin: 5px 0
        -webkit-animation: outM 0.8s backwards
        animation: outM 0.8s backwards
        -webkit-animation-direction: reverse
        animation-direction: reverse
    .nav-check__label span:nth-child(3) 
        -webkit-animation: outBtm 0.8s backwards
        animation: outBtm 0.8s backwards
        -webkit-animation-direction: reverse
        animation-direction: reverse
    .dropdown-active span:nth-child(1)
        -webkit-animation: inT 0.8s forwards
        animation: inT 0.8s forwards
    .dropdown-active span:nth-child(2)
        -webkit-animation: inM 0.8s forwards
        animation: inM 0.8s forwards
    .dropdown-active span:nth-child(3)
        display: none

    // 600px media queries for header section
    #header 
        background-image: url(../img/tmpBackground-small.svg)
        background-size: cover
        h1
            color: white
            padding-top: 8em
            font-size: 3em 
        p 
            color: white
            font-size: 1em

@media screen and (max-width: 450px)
    #header 
        background-image: url(../img/tmpBackground-xsmall.svg)
        background-size: cover
        h1
            color: white
            padding-top: 9em
            font-size: 2em 
        p 
            color: white
            font-size: 1em
    .nav-links 
        a 
            margin: 3em 0px
            text-transform: uppercase 
            font-size: 1.5em
            font-weight: 3em
    #logoLink svg
        margin: 0em 0em 0em 0em

        min-height: 5em
        svg
            width: 65%
    .nav-btn > label 
        position: absolute  
        left: -1em
        top: 30%
      
   

@keyframes outBtm 
    0% 
        transform: translateY(0px) rotate(0deg)
    
    50% 
        transform: translateY(-9px) rotate(0deg)
    
    100% 
        transform: translateY(-9px) rotate(135deg)

@-webkit-keyframes outBtm 
    0% 
        -webkit-transform: translateY(0px) rotate(0deg)
    
    50% 
        -webkit-transform: translateY(-9px) rotate(0deg)
    
    100% 
        -webkit-transform: translateY(-9px) rotate(135deg)
@keyframes inBtm 
    0% 
        transform: translateY(0px) rotate(0deg)
    
    50% 
        transform: translateY(-9px) rotate(0deg)
    
    100% 
        transform: translateY(-9px) rotate(135deg)
@-webkit-keyframes inBtm 
    0% 
        -webkit-transform: translateY(0px) rotate(0deg)
    
    50% 
        -webkit-transform: translateY(-9px) rotate(0deg)
    
    100% 
        -webkit-transform: translateY(-9px) rotate(135deg)
@keyframes outT 
    0% 
        transform: translateY(0px) rotate(0deg)
    
    50% 
        transform: translateY(9px) rotate(0deg)
    
    100% 
        transform: translateY(9px) rotate(135deg)

@-webkit-keyframes outT 
    0% 
        -webkit-transform: translateY(0px) rotate(0deg)
    
    50% 
        -webkit-transform: translateY(9px) rotate(0deg)
    
    100% 
        -webkit-transform: translateY(9px) rotate(135deg)
@keyframes inT 
    0% 
        transform: translateY(0px) rotate(0deg)
    
    50% 
        transform: translateY(9px) rotate(0deg)
    
    100% 
        transform: translateY(9px) rotate(135deg)
@-webkit-keyframes inT 
    0% 
        -webkit-transform: translateY(0px) rotate(0deg)
    
    50% 
        -webkit-transform: translateY(9px) rotate(0deg)
    
    100% 
        -webkit-transform: translateY(9px) rotate(135deg)
@keyframes outM 
    50% 
        transform: rotate(0deg)
    
    100% 
        transform: rotate(45deg)
@-webkit-keyframes outM 
    50% 
        -webkit-transform: rotate(0deg)
    
    100% 
        -webkit-transform: rotate(45deg)
@keyframes inM 
    50% 
        transform: rotate(0deg)
    
    100% 
        transform: rotate(45deg)
@-webkit-keyframes inM 
    50% 
        -webkit-transform: rotate(0deg)
    
    100% 
        -webkit-transform: rotate(45deg)



