
#logoLink
    margin-left: 5px
    padding-left: 15px
    margin-right: 0px
    padding-top: 0px
    svg
        width: 25%




nav 
    color: white
    display: flex
    a 
        text-align: center
        flex: 1
        font-size: 1.8rem
        margin-left: 0px

        padding: 10px 10px 0px 15px
        #top right bottom left 
        height: 100%
  

.vr 
    width: 1px
    background-color: #000

    top: 0
    bottom: 0
    left: 150px


header
    height: 95vh
    text-align: center
    background: url(../img/tmpBackground.svg)
    background-size: cover
    h1 
        padding-top: 12rem
        font:
            size: 72px
            weight: 700
        color: white 
        text-transform: uppercase
    .kicker 
        font: 
            size: 50px
            weight: 600
        color: white 
        text-transform: uppercase
