.services__heading
    h1
        text-align: center
        color: red
        font-size: 4.25em
.services__cards
    display: grid
    margin: 0 10% 5% 10%
    grid-gap: 20px
    grid-template-columns: 1fr  1fr 1fr
.services__card
    display: grid
    align-items: center
    border: 1px solid rgba(0, 0, 0, 0.7)
    h5
        text-align: center
    p
        margin: 0px 4rem
.services__img
    margin: 0px auto 
    width: 15rem
.services__form
    display: block
    margin: 0px auto 5% auto
    text-align: center
    strong 
        font-size: 32px
        weight: 600
    button
        background-color: red 
        color: black
        font-size: 32px
    button:hover
        background-color: white
@media screen and (max-width: 600px)
    // 600px media queries for services section
    .services__heading
        h1
            text-align: center
            color: red
            font-size: 4.25em
            padding: 0.5em 0em 0.5em 0em
    .card__content  
        h5 
            font-size: 1.3em
        p
            font-size: 1.1em
