<section id="enquiry">
    <div class="athleteBio__heading">
        <h3>If you are interested in our coaching services please fill out the form below</h3>
    </div>
    <form method="POST" action="//formspree.io/{{ site.data.settings.email }}">
    <fieldset class="contact-info-group">
        <label><span>Name </span>
        <input type="text" name="name"></label>
        <label><span>Weight(in lbs) </span>
        <input type="text" name="weight"></label>
    </fieldset>

    <fieldset class="contact-info-group">
            <label><span>Age </span>
            <input type="text" name="age">
                </label>
            <label><span>Height(in cm) </span>
            <input type="email" name="height">
            </label>
    </fieldset>
    <h5>Current Max Lifts</h5>
    <fieldset class="contact-info-group">
            <label><span>Squat(in lbs) </span>
            <input type="text" name="squat">
                </label>
            <label><span>Bench(in lbs)</span>
            <input type="email" name="bench">
            </label>
    </fieldset>
    <fieldset class="contact-info-group">
            <label><span>Deadlift </span>
            <input type="text" name="deadlift">
            </label>
    </fieldset>
    <h5>In-Depth Details</h5>
    {% for item in site.data.settings.athleteBioTextArea %}
        <label class="message-label"><span>{{ item.question }} </span>
        <textarea name="{{ item.question }}"></textarea></label>
    {% endfor %}
    <fieldset class="submit-wrap">
            <input type="submit" value="Send">
    </fieldset>
    </form>

</section>